<div class="flex">
    <div class="bg-neutralPink left-0 w-[50%] h-full max-xs:w-full max-xs:h-[50%] absolute items-center max-xs:top-0 flex flex-col">
      <button (click)="onLogin()" class="w-52 h-52 rounded-[100%] mx-auto my-auto hover:bg-[#CB7280] max-xs:focus:bg-[#CB7280]">
        <img src="./assets/images/index/client.svg" alt="Client icon" class="rounded-[100%] p-5">
      </button>
      <h1 class="absolute bottom-[300px] max-xs:bottom-10 font-['Jua'] font-bold text-[20px] text-[#A64456]">Cliente</h1>
    </div>
    <div class="bg-neutralBlue right-0 w-[50%] h-full max-xs:w-full absolute items-center max-xs:bottom-0 max-xs:h-[50%] flex flex-col">
      <h1 class="absolute bottom-[300px] max-xs:top-10 font-['Jua'] font-bold text-[20px] text-[#1D3D59]">Dono de estabelecimento</h1>
      <button (click)="onLogin()" class="w-52 h-52 rounded-[100%] mx-auto my-auto hover:bg-[#4A5C7D] max-xs:focus:bg-[#4A5C7D]">
        <img src="./assets/images/index/businessperson.svg" alt="Owner icon" class="p-5">
      </button>
    </div>
  </div>
  
  <router-outlet></router-outlet>